# #############################################################################
# conda_requirements.txt
# ======================
# Author : Sepand KASHANI [sep@zurich.ibm.com]
# Revision : 0.0
# Last updated : 2018-05-01 07:56:45 UTC
# #############################################################################

# This file contains a subset of Pypeline's dependencies listed in
# `requirements.txt` that can be installed through conda packages.
# These packages are the preferred way to install dependencies if available.
#
# When modifying dependencies, don't forget to update both `requirements.txt`
# and `conda_requirements.txt`.

flake8 == 3.5.*
ipython == 6.3.*
mypy == 0.*
numpy == 1.14.*
pytest == 3.5.*
sphinx == 1.7.*
sphinx_rtd_theme == 0.3.*
