# #############################################################################
# conda_requirements.txt
# ======================
# Author : Sepand KASHANI [sep@zurich.ibm.com]
# #############################################################################

# This file contains a subset of Pypeline's dependencies listed in
# `requirements.txt` that can be installed through conda packages.
# These packages are the preferred way to install dependencies if available.
#
# When modifying dependencies, don't forget to update both `requirements.txt`
# and `conda_requirements.txt`.

astropy == 3.0.*
flake8 == 3.5.*
ipython == 6.4.*
matplotlib == 2.2.*
numexpr == 2.6.*
numpy == 1.14.*
pandas == 0.23.*
plotly == 2.7.*
pytest == 3.6.*
python-casacore == 2.2.*
scikit-learn == 0.19.*
scipy == 1.1.*
sphinx == 1.7.*
sphinx_rtd_theme == 0.4.*
tqdm == 4.23.*
