# #############################################################################
# requirements.txt
# ================
# Author : Sepand KASHANI [sep@zurich.ibm.com]
# #############################################################################

# This file contains the complete list of Pypeline's Python dependencies.
# It is preferable to install packages having non-Python dependencies using
# the `conda` environment manager if available.
#
# When modifying dependencies, don't forget to update both `requirements.txt`
# and `conda_requirements.txt`.

astropy == 3.1.*
flake8 == 3.6.*
ipython == 7.2.*
matplotlib == 3.0.*
numexpr == 2.6.*
numpy == 1.15.*
pandas == 0.24.*
plotly == 3.5.*
pyproj == 1.9.*
pytest == 4.2.*
python-casacore == 2.2.*
scikit-learn == 0.20.*
scipy == 1.2.*
sphinx == 1.8.*
sphinx_rtd_theme == 0.4.*
tqdm == 4.29.*
