# #############################################################################
# requirements.txt
# ================
# Author : Sepand KASHANI [sep@zurich.ibm.com]
# #############################################################################

# This file contains the complete list of Pypeline's Python dependencies.
# It is preferable to install packages having non-Python dependencies using
# the `conda` environment manager if available.
#
# When modifying dependencies, don't forget to update both `requirements.txt`
# and `conda_requirements.txt`.

astropy == 3.0.*
flake8 == 3.5.*
ipython == 6.3.*
matplotlib == 2.2.*
numexpr == 2.6.*
numpy == 1.14.*
pandas == 0.22.*
plotly == 2.6.*
pytest == 3.5.*
python-casacore == 2.2.*
scikit-learn == 0.19.*
scipy == 1.1.*
sphinx == 1.7.*
sphinx_rtd_theme == 0.3.*
tqdm == 4.23.*
